<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<title>Add New Employee</title>
<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand ml-3" href="home">WorkFolio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<!-- Navbar items (if any) can be added here -->
			</ul>
		</div>
	</nav>
	<!-- END NAVBAR -->

	<!-- Heading -->
	<h3 class="text-center mt-4">Edit Employee</h3>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<!-- Form Title -->
						<h4 class="text-center text-primary">Edit Employee Details</h4>

						<!-- Employee Edit Form -->
						<form th:action="@{/register}" method="post" th:object="${emp}">
							<!-- Hidden input for the employee ID (value will be populated dynamically) -->
							<input type="hidden" name="id" value="">

							<div class="form-group">
								<label>Enter Full Name</label> <input type="text"
									class="form-control" name="name" value="">
							</div>

							<div class="form-group">
								<label>Enter Address</label> <input type="text"
									class="form-control" name="address" value="">
							</div>

							<div class="form-group">
								<label>Enter Email</label> <input type="email"
									class="form-control" name="email" value="">
							</div>

							<div class="form-group">
								<label>Enter Phone No</label> <input type="number"
									class="form-control" name="phone" value="">
							</div>

							<div class="form-group">
								<label>Enter Salary</label> <input type="number"
									class="form-control" name="salary" value="">
							</div>

							<!-- Submit Button -->
							<button class="btn btn-primary btn-block">Submit</button>
						</form>
						<!-- End Employee Edit Form -->

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

